# $PATH
export GOPATH=$HOME/go
export RUSTPATH=$HOME/.cargo
export NVIM_NIGHTLY_PATH=$HOME/local/nvim/bin
export PATH=$HOME/bin:$PATH:$HOME/.local/bin:/usr/local/bin:/usr/local/go/bin:$GOPATH/bin:$RUSTPATH/bin:/opt/homebrew/bin:$NVIM_NIGHTLY_PATH

# Nix
if [ -e /etc/profile.d/nix.sh ]; then
  . /etc/profile.d/nix.sh
fi

# fzf
source <(fzf --zsh 2>/dev/null)

# zoxide (replaces oh-my-zsh `z` plugin)
eval "$(zoxide init zsh)"

# starship prompt (replaces oh-my-zsh robbyrussell theme)
eval "$(starship init zsh)"

# settings
unset autocd

export GIT_PS1_SHOWUPSTREAM="auto"
export PAGER="less --mouse"
export SCRATCH_DIR="$HOME/Documents/scratch"
export HOMEBREW_BUNDLE_FILE="$HOME/.Brewfile"
# aliases
alias less="less --mouse"
alias tree="tree --dirsfirst -I 'node_modules|dist|vendor'"
alias a="tmux attach"
alias bat="bat -pp"

alias dotfiles="chezmoi git --"

{{- if eq .chezmoi.os "darwin" }}
alias macos="open"
{{- end }}

{{- if eq .chezmoi.os "linux" }}
alias pbcopy="wl-copy"
alias pbpaste="wl-paste"
{{- end }}

# vim
export EDITOR="nvim"
# shell functions
j () {
	cd "$(zoxide query --list | fzf)"
}

g () {
	git checkout $(git branch -a --format="%(refname:short)" --sort="-authordate" | fzf | sed 's|origin/||g')
}

scratch_file() {
	echo -n $SCRATCH_DIR/`date +'%Y-%m-%d'`.md
}

scratch_default() {
	sed 's/{{"{{"}} todayDate {{"}}"}}/'"$(date +'%A, %B %d, %Y')"'/g' ~/.config/scratch/default.md
}

scratch() {
	vim +'normal G' $(scratch_file)
}

scratchlast() {
	vim $SCRATCH_DIR/`ls -t $SCRATCH_DIR | head -n 1`
}

getextension() {
	filename="$1"
	extension="${filename##*.}"

	echo $extension
}

vimbranchdiff() {
	FILE="$1"
	REF="$2"

	vim -d $FILE <(git show $REF:$FILE)
}

vimgitshow() {
	FILE="$1"
	REF="$2"
	git show $REF:$FILE | vim -c "doautocmd BufRead $(basename $FILE)" -
}

alias markdownToPdf="pandoc --pdf-engine=xelatex -V geometry:margin=0.6in"

alias serve="python3 -m http.server 8000"


export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"

# completions
autoload -Uz compinit && compinit

# vim: fdm=marker
